.toolsList {
  list-style: none;
  width: 50vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: 100px;
  margin: 25px 0;
  min-width: 400px;
}

.toolsList li {
  padding: 3px 10px;
  padding-right: 20px;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  margin-left: 2px;
  cursor: pointer;
}

.toolsList li p {
  border-bottom: 1px solid transparent;
}

.toolsList li:hover > .toolContainer > p {
  border-bottom: 1px solid rgb(74, 73, 73);
  color: rgb(74, 73, 73);
}

.toolExtend svg {
  width: 10px;
  height: 10px;
}

.toolExtend {
  position: absolute;
  top: 4.5px;
  right: 5.5px;
}

.extendedTools {
  position: absolute;
  top: 30px;
  white-space: nowrap;
  padding: 10px 0;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  z-index: 5;
}

.extendedTools li {
  display: flex;
  justify-content: flex-start;
}

.toolsList li a {
  text-decoration: inherit;
  color: inherit;
  padding: 0;
}

.toolsList li a:hover {
  border-bottom: 1px solid rgb(74, 73, 73);
  color: rgb(74, 73, 73);
  margin-bottom: -1px;
}

@media (min-width: 990px) {
  .toolsList {
    width: 45vw;
  }

  .toolsList li {
    font-size: 15px;
  }
}
