.headerContainer {
  height: 100px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer .logoContainer {
  width: 80px;
  margin: 15px 0;
  margin-left: 22px;
  cursor: pointer;
}

.logoContainer img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}

.burgerContainer {
  display: flex;
  background: none;
  color: inherit;
  border: none;
  padding: 10px 11px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.burgerContainer svg {
  height: 20px;
  width: 20px;
  margin: 0;
}

.burgerContainer path {
  width: 17px;
}

.tools ul {
  list-style: none;
  display: flex;
}

.headerContainer a {
  display: flex;
  align-items: center;
  padding: 10px 11px;
}

.tools ul svg {
  height: 20px;
  width: 20px;
}

.tools ul path {
  height: 20px;
}

.desktopToolsContainer {
  display: none;
}

@media (min-width: 750px) {
  .burgerContainer {
    display: none;
  }

  .desktopToolsContainer {
    display: block;
  }

  .desktopToolsContainer {
  }

  .tools {
    padding-right: 1.5vw;
  }
}
