.cartHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;
}

.cartHeader h1 {
  margin-bottom: 8px;
}

.cartHeader a {
  text-decoration: none;
}

.cartHeader p {
  display: block;
  color: rgb(6, 64, 75);
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid rgb(6, 64, 75);
}

.productsContainer {
  width: 100%;
}

.productsContainer ul {
  list-style: none;
}

.cartItemsHeaders {
  display: flex;
  justify-content: space-between;
  padding: 27.5px 0;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.cartItemsHeaders p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.productQuantityColumn,
.productTotalPriceColumn {
  display: none;
}

.productsContainer ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.productLeftInfo {
  display: flex;
  padding: 22px 14px 22px 0;
}

.imageContainer {
  padding-right: 24px;
  max-width: 144px;
  cursor: pointer;
}

.imageContainer img {
  width: 100%;
  max-width: 95px;
  border-radius: 8px;
}

.imageBeverageContainer {
  padding-right: 24px;
  max-width: 144px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 119px;
}

.imageBeverageContainer img {
  width: 100%;
  max-width: 37px;
  height: auto;
}

.productTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.productTitleContainer h4 {
  color: rgb(51, 50, 50);
  font-size: 14px;
  cursor: pointer;
}

.productTitleContainer p {
  display: block;
  color: rgb(6, 64, 75);
  font-size: 14px;
  padding-bottom: 1px;
  border-bottom: 1px solid rgb(6, 64, 75);
  cursor: pointer;
}

.productRightInfo {
  display: flex;
  flex-direction: column;
  padding: 22px 0 22px 14px;
}

.productQuantityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productQuantity p {
  font-size: 13px;
  margin-right: 5px;
  color: rgb(51, 50, 50);
}

.productPriceContainer {
  text-align: end;
  font-size: 14px;
  color: rgb(51, 50, 50);
  margin-bottom: 14px;
}

.productQuantityContainer input {
  border: 1px solid rgb(204, 204, 204);
  padding: 8px 5.4px;
  max-width: 4rem;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
}

.productTotalPriceContainer {
  display: none;
}

@media (min-width: 750px) {
  .cartHeader h1 {
    margin-bottom: 27px;
  }

  .cartHeader h1 {
    font-size: 37px;
    margin-bottom: 16px;
  }

  .cartHeader p {
    font-size: 15px;
  }

  .cartItemsHeaders {
    flex: 1;
  }

  .productPreviewColumn {
    flex: 50%;
  }

  .productPriceColumn {
    flex: 20%;
    text-align: center;
  }

  .productRightInfo {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex: 1;
    padding-left: 0;
  }

  .productQuantityColumn {
    flex: 20%;
    text-align: center;
  }

  .productTotalPriceColumn {
    flex: 10%;
    text-align: end;
  }

  .productQuantityColumn,
  .productTotalPriceColumn {
    display: block;
  }

  .productTitleContainer p:hover {
    color: rgb(12, 124, 146);
    border-bottom: 1px solid rgb(12, 124, 146);
  }

  .productTitleContainer h4 {
    font-size: 17px;
  }

  .productTitleContainer p {
    font-size: 15px;
  }

  .productTitleContainer h4:hover {
    text-decoration: underline;
  }

  .productQuantity {
    display: none;
  }

  .imageContainer:hover,
  .imageBeverageContainer:hover {
    opacity: 0.8;
  }

  .productPriceContainer {
    margin-bottom: 0;
    flex: 40%;
    text-align: center;
  }

  .productsContainer ul li {
    flex: 1;
  }

  .productLeftInfo {
    width: 50%;
  }

  .productQuantityContainer {
    flex: 40%;
    text-align: center;
  }
  .productQuantityContainer p {
    text-align: center;
  }

  .productTotalPriceContainer {
    text-align: end;
    display: block;
    font-size: 14px;
    color: rgb(51, 50, 50);
    flex: 20%;
  }
}
