.introLayout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introContainer {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 2rem;
  max-width: 1200px;
}

.introTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 10px;
  padding-top: 32px;
}
.introTitleContainer {
  width: 95%;
  text-align: center;
  padding-bottom: 10px;
}
.introTitleContainer h2 {
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(0, 64, 75);
  font-weight: 700;
}

.likesContainer li {
  display: inline;
  margin: 0 1px;
}

.likesContainer li svg {
  width: 24px;
}

.infoFooterContainer p {
  color: rgb(63, 63, 63);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.introImageContainer {
  display: flex;
  justify-content: center;
}

.introImage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.introSpecsContainer {
  width: 100%;
}

.introImageContainer img {
  width: 100%;
  height: fit-content;
}

@media (min-width: 768px) {
  .introContainer {
    flex-direction: row;
  }

  .introImageContainer {
    width: 100%;
  }

  .introTextContainer {
    padding-right: 20px;
  }
  .introImage {
    padding: 0;
  }
}

@media (min-width: 990px) {
  .introTitleContainer h2 {
    font-size: 28px;
  }

  .infoFooterContainer p {
    font-size: 18px;
  }

  .introTitleContainer {
    margin-bottom: 30px;
  }

}
