.faqLayout {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.faqContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 17px;
  margin-top: 40px;
}

.faqDataContainer {
  width: 100%;
}

.faqTitle {
  margin-bottom: 25px;
}

.faqTitle h3 {
  text-align: center;
  color: rgb(36, 36, 36);
  font-size: 22px;
}

.faqSubTitle {
  margin-bottom: 16px;
}

.faqSubTitle p {
  text-transform: uppercase;
  color: rgb(66, 66, 66);
  text-align: center;
  font-weight: 400;
  font-size: 14.5px;
}

.faqQuestionsContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.faqQuestionElement {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding: 15px 5px 15px 35px;
  cursor: pointer;
}

.faqQuestionElement p {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-right: 15px;
}

.arrowContainer {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqQuestionElement svg {
  width: 25px;
  height: 25px;
}

.faqQuestionElement path {
  width: 20px;
}

.hiddenAnswer {
  height: auto;
  max-height: 350px;
  overflow: scroll;
  transition: all 0.5s ease-in;
}

.hiddenAnswer.hidden {
  max-height: 0;
  transition: all 0.5s ease-out;
}

.hiddenAnswer p {
  font-size: 14.5px;
  color: rgb(66, 66, 66);
  font-weight: 400;
  line-height: 24px;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.faqFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqFooter p {
  color: rgb(66, 66, 66);
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 14px;
}

.faqFooter button {
  background-color: rgb(0, 64, 75);
  color: white;
  font-family: "Mulish";
  letter-spacing: 0.2px;
  font-size: 15px;
  font-weight: 300;
  padding: 0.6rem 2.3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
  box-shadow: 4px 0 15px #b1b1b1 !important;
}

.faqFooter button:hover {
  background-color: rgb(16, 177, 221);
}

.faqImagesContainer {
  padding-top: 30px;
}

.faqImagesBody {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.firstImageContainer {
  width: 100%;
}

.firstImageContainer img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.imageDataContainer {
  width: 100%;
  background-color: rgb(234, 242, 245);
  padding: 32px 30px;
  border-radius: 10px;
  margin: 25px 0;
}

.imageDataContainer .contact {
  color: rgb(63, 63, 63);
  font-weight: 700;
  line-height: 24px;
  font-size: 15px;
}

.imageDataContainer .mail {
  color: rgb(12, 133, 166);
}

.secondImageContainer {
  width: 100%;
}

.secondImageContainer img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (min-width: 770px) {
  .faqContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }

  .faqQuestionsContainer {
    padding: 20px 15px 0 17px;
  }

  .faqDataContainer {
    flex: 1;
  }

  .faqFooter {
    padding-top: 14px;
    padding-left: 40px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .faqFooter button {
    margin-left: 15px;
  }

  .faqImagesContainer {
    flex: 1;
  }

  .faqImagesBody {
    position: relative;
    flex-direction: row;
  }

  .imageDataContainer {
    position: absolute;
    bottom: -40px;
    margin: 0;
    width: 67%;
    padding: 20px 30px;
  }

  .firstImageContainer img {
    width: 90%;
  }
}

@media (min-width: 990px) {
  .faqDataContainer {
    padding-right: 30px;
  }

  .faqQuestionElement p {
    font-size: 18px;
  }

  .faqTitle h3 {
    font-size: 28.5px;
  }

  .faqSubTitle p {
    font-size: 17px;
  }

  .hiddenAnswer p {
    font-size: 17px;
  }

  .faqFooter button {
    font-size: 17px;
  }

  .faqFooter p {
    font-size: 17px;
  }

  .imageDataContainer .contact,
  .imageDataContainer .mail {
    font-size: 17px;
  }

  .imageDataContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: -40px;
    left: 60px;
    margin: 0;
    width: 50%;
    height: 45%;
    padding: 15px 30px;
  }
}
