.feedbackTextContainer {
  width: 100%;
  font-weight: 400;
  background-color: rgb(234, 242, 245);
  padding: 32px;
  border-radius: 30px;
  min-height: 120px;
}
.feedbackTextContainer p {
  width: 90%;
  text-align: center;
  margin: auto;
}

.clientDetail {
  white-space: nowrap;
}

@media (min-width: 990px) {
  .feedbackTextContainer p {
    font-size: 17px;
  }
}
