.feedbackLayout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 45px;
}

.feedbackContainer {
  width: 100vw;
  max-width: 1200px;
}

.feedbackTitleContainer h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 22.5px;
  font-weight: 700;
  color: rgb(63, 63, 63);
  opacity: 1;
}

.feedbackBodyContainer {
  text-align: center;
}

.feedbackBodyContainer p {
  color: rgb(93, 93, 93);
  font-size: 15px;
  margin-bottom: 5px;
}
.feedbackContainer .feedbackCarousel button {
  background-color: rgb(234, 234, 234);
  color: black;
}

.prevSlide {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.nextSlide {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow {
  display: none;
}

.feedbackCarousel {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.feedbackButton {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.feedbackContainer button {
  text-transform: uppercase;
  background-color: rgb(0, 64, 75);
  color: white;
  font-family: "Mulish";
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
  padding: 0.6em 4rem !important;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
}

.feedbackButton button:hover {
  background-color: rgb(16, 177, 221);
}

@media (min-width: 990px) {
  .feedbackButton button {
    padding: 0.8rem 1.3rem;
    font-size: 18px;
  }

  .feedbackCarousel .arrow {
    display: block;
    opacity: 0;
  }

  .feedbackCarousel:hover .arrow {
    cursor: pointer;
    background-color: rgb(234, 234, 234);
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    opacity: 1;
  }

  .feedbackCarousel:hover .arrow:hover {
    background-color: white;
  }

  .feedbackTitleContainer h3 {
    font-size: 27.5px;
  }

  .feedbackBodyContainer p {
    font-size: 17px;
  }
}
