.feedbackLayout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 45px;
}

.feedbackContainer {
  width: 100vw;
}

.feedbackTitleContainer h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 22.5px;
  color: rgb(93, 93, 93);
  font-weight: 700;
}

.feedbackBodyContainer {
  text-align: center;
}

.feedbackBodyContainer p {
  color: rgb(93, 93, 93);
  font-size: 15px;
}
.feedbackContainer .feedbackCarousel button {
  background-color: rgb(234, 234, 234);
  color: black;
}

.prevSlide {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.nextSlide {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

.arrow:hover {
  background-color: white;
}



.feedbackCarousel {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.feedbackButton {
  display: flex;
  justify-content: center;
}

.feedbackContainer button {
  text-transform: uppercase;
  background-color: rgb(0, 64, 75);
  color: white;
  font-family: "Mulish";
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
  padding: 0.6em 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
}

.feedbackButton button:hover {
  background-color: rgb(16, 177, 221);
}

@media (min-width: 990px) {
  .feedbackButton button {
    padding: 0.8rem 1.3rem;
    font-size: 18px;
  }
}
