.collectionLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collectionContainer {
  width: 95%;
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
  row-gap: 30px;
  list-style: none;
  margin-top: 30px;
  max-width: 1200px;
}

@media (min-width: 835px) {
  .collectionContainer {
    grid-template-columns: 22.75% 22.75% 22.75% 22.75%;
    column-gap: 3%;
  }
}
