.menuContainer {
  width: 100vw;
  height: auto;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  pointer-events: none;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 807px) {
}
