* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Mulish, Helvetica, Arial, sans-serif;
}

body {
  min-width: 320px;
}

.swiper-pagination-bullet-active {
  background-color: #6b7172 !important;
}

.google-map-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 990px) {
  .google-map-container {
    width: 100%;
    max-width: 570px;
    max-height: 400px;
  }
}